
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    position: absolute;
}

.hero {
    background-image: url(../images/main-background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed; 
    width: 100%;
    height: 100%;
}

.case-studies {
    display: block;
    background-color: black;
    height: 100px;
}