
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url(../images/main-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    align-self: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 1.4rem;
    text-align: center;
    color: black;
}

.case-studies {
    display: block;
    background-color: black;
    height: 400px;
}