
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url(../images/main-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    align-self: center;
    background-attachment: fixed;
    align-items: right;
    justify-content: center;
}

.container {
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;

  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

.text {
    margin-left: 50%;
    margin-right: 10%;
    color: black;
}

h1 {
    display: inline-block;
    font-size: 72px;
    font-family: 'Crimson Text', serif;
}

.green-anna {
    color: #79814D;
    margin-left: 16px;
    margin-right: 16px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.case-studies {
    display: block;
    background-color: black;
    height: 1560px;
}

.virginia {
    display: flex;
}

.virginia-text {
    width: 30%;
    padding-top: 100px;
    margin-left: 157px;
    margin-right: 300px;
}

.addventure {
    display: flex;
}

.addventure-text {
    width: 30%;
    padding-top: 100px;
    margin-left: 157px;
    margin-right: 300px;
}

.twincities {
    display: flex;
}

.twincities-text {
    width: 30%;
    padding-top: 100px;
    margin-left: 157px;
    margin-right: 300px;
}

.case-study-paragraph {
    color: white;
    margin-top: 20px;
}

h2 {
    color: white;
    font-size: 64px;
    font-family: 'Crimson Text', serif;
    text-decoration: underline;
}

.button {
    font-size: 24px;
    color: white;
    background-color: #956034;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.case-study-image {
    display: inline-block;
}

footer {
    background-color: #79814D;
}

.footer {
    display: flex;
    align-items: center;
    background-color: #79814D;
    height: 370px;
    margin-left: 157px;
}

.profile-image {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.footer-text {
    display: inline-block;
    margin-left: 40px;
    margin-right: 45px;
}

.social-icon {
    width: 90px;
    height: 90px;
    margin-right: 15px;
    margin-left: 15px;
}

.social-icon-nav {
    width: 90px;
    height: 90px;
    margin-right: 15px;
    margin-left: 15px;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 2rem;
    right: 2rem;
    border: none;
    background: #E8E8EA;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .closeIcon {
    display: none;
    visibility: hidden;
    width: 40px;
    height: 40px;
  }

  .menuIcon {
    width: 40px;
    height: 40px;
  }

.menu {
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.2s;
    top: 0;
    left: 48%;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #E8E8EA;
    color: white;
    list-style: none;
    padding-top: 5rem;
    padding-left: 5rem;
    border-left: 5px solid black;
  }

  .showMenu {
    transform: translateX(0);
  }

  .menuItem {
    color: black;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
  }

  .first {
    padding-left: 40px;
  }